@font-face {
    font-family: b612;
    src: url("../fonts/B612Mono-Regular.ttf");
}

@font-face {
    font-family: ibm;
    src: url("../fonts/IBMPlexMono-Regular.ttf");
}

@font-face {
    font-family: roboto;
    src: url("../fonts/RobotoMono-Regular.ttf");
}

@font-face {
    font-family: montserrat;
    src: url("../fonts/Montserrat-Regular.ttf");
}

* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* pointers */

.image-container img,
.logo,
.toggle-row,
.add-row,
.line-down,
.line-up,
.text-left,
.text-right,
.text-center,
.font-down,
.font-up,
.delete-row,
.canvas-controls img,
.stroke-txt,
.share,
.download {
    cursor: pointer;
}

body {
    background-image: url("../images/yello-meme-background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* background-color: whitesmoke; */
}

body,
h1 {
    margin: 0 auto;
}

body h1 {
    text-align: center;
}

.header-menu {
    margin-top: 5vh;
    border-bottom: 1px solid black;
}

.main-layout {
    max-width: 1300px;
    margin: 0 auto;
}


/* header menu */

.grid1 {
    display: grid;
    grid-template-columns: repeat(5, minmax(100px, 1fr));
    /* grid-auto-rows: 50px; */
}

.logo {
    height: 50px;
    object-fit: cover;
    padding: 10px;
}

.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 3/5;
}

.nav-menu li a {
    font-family: montserrat, AdobeInvisFont, MyriadHebrew-Regular;
    font-size: 1.5em;
    /* font-family: Monoton;
    text-align: center;
    padding-bottom: 1em; */
}

.nav-menu li:not(:last-child) {
    /* padding-right: 5em; */
}


/* search gallery */

.search-area-input {
    margin-top: 7vh;
    margin-left: 0vw;
    line-height: 3vh;
    border-radius: 10px;
    text-align: center;
    border: 2px solid #dadada;
    border-radius: 7px;
    width: 15vw;
    font-family: montserrat, AdobeInvisFont, MyriadHebrew-Regular;
}

.search-area-input:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}


/* image gallery */

.grid2 {
    margin-top: 1vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 250px;
    grid-auto-flow: dense;
    background-color: rgb(241, 220, 124);
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 10px;
    border-radius: 20px;
}

.image-container img:hover {
    /* to be continued */
}

.image-container {
    position: relative;
}


/* ///////// */

.image-container h3 {
    position: absolute;
    padding: 0 20px;
    text-align: left;
    width: 100%;
    top: 50%;
    font-size: 20px;
    color: wheat;
}

.meme-generator {
    /* display: none; */
    margin-top: 10vh;
}

.left-gap {
    width: 25vw;
}

.canvas-container {
    width: 500px;
    text-align: center;
}

#my-canvas {
    border-radius: 10px;
}


/* canvas controls */

.canvas-controls {
    opacity: 0;
    margin-left: 10px;
    border: 1px solid black;
    /* margin-left: 20px; */
    width: 450px;
    height: 450px;
    border-radius: 10px;
}


/* TODDO: add stickers */

.grid3 {
    display: grid;
    padding: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: ". text-line text-line text-line ." "line-up line-down toggle-row add-row delete-row" "font-up font-down text-left text-center text-right" "change-font change-font . text-effect text-color" "download download . share share";
    background-color: rgb(248, 244, 244);
    gap: 7px;
    justify-content: center;
}

.text-line {
    grid-area: text-line;
    /* border: 1px solid black; */
    /* border-radius: 20px; */
    line-height: 50px;
    font-size: larger;
    height: 4vh;
    margin-top: 5%;
    text-align: center;
    border: 2px solid #dadada;
    border-radius: 10px
}

.text-line:focus {
    /* border: 1px solid red; */
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.line-up {
    grid-area: line-up;
}

.line-down {
    grid-area: line-down;
}

.toggle-row {
    grid-area: toggle-row;
}

.add-row {
    grid-area: add-row;
}

.delete-row {
    grid-area: delete-row;
}

.font-up {
    grid-area: font-up;
}

.font-down {
    grid-area: font-down;
}

.text-left {
    grid-area: text-left;
}

.text-right {
    grid-area: text-right;
}

.text-center {
    grid-area: text-center;
}

.change-font {
    border-radius: 10px;
    grid-area: change-font;
    justify-content: center;
    font-size: larger;
    text-align: center;
    height: 4vh;
    margin-top: 0.8vh;
    width: 11vw;
    border: 2px solid #dadada;
}

.change-font:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.stroke-txt {
    grid-area: text-effect;
}

.text-color-label {
    grid-area: text-color;
}

.text-color {
    grid-area: text-color;
    opacity: 0;
}

.download {
    grid-area: download;
    max-width: 120px;
    height: 6.4vh;
    border-radius: 10px;
    color: whitesmoke;
    background-color: orange;
    text-align: center;
}


/*
.download2 {
    display: none;
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 35px #9ecaed, 0 0 20px #497192;
} */

.share {
    /* background-image: url('/images/ICONS/share.png'); */
    grid-area: share;
    max-width: 120px;
    margin-left: 20px;
    height: 6.5vh;
    border-radius: 10px;
    background-color: orange;
    color: whitesmoke;
}

.canvas-controls img {
    width: 50px;
    height: 50px;
    padding: 5px;
}


/* helpers */

.clean-list {
    /* list-style-type: none; */
    margin: 0;
    padding: 0;
    text-decoration: none;
}


/* flex */

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.justify-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.flex-dir-col {
    flex-direction: column;
}

.clean-link {
    text-decoration: none;
}

.clean-list {
    list-style-type: none;
    padding: 0;
}